@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 32, 44;
  --background-rgb: 240, 244, 248;
}

.dark {
  --foreground-rgb: 240, 244, 248;
  --background-rgb: 26, 32, 44;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: color 0.3s ease, background-color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}